<h1>My tasks</h1>
<% @tasks.each do |task| %>
<ul>
  <li>
    <% if task.completed == true %>
      <input type="checkbox" id=task.title name="feature" value=task.title checked />
      <label for=task.title><%= link_to task.title, task_path(task) %></label> -
      <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% else %>
      <input type="checkbox" id=task.title name="feature" value=task.title />
      <label for=task.title><%= link_to task.title, task_path(task) %></label> -
      <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <% end %>
  </li>
</ul>
<% end %>
<div>
  <i class="fas fa-plus-square"></i>
  <%= link_to "Add a new task", new_task_path %>
</div>
